<div class="form-group col-md-5">
  <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="searchInput">
</div>
<div class="overY col-md-12">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let repo of repos | searchfilter : searchInput  | orderBy: 'name':'asc' ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td><a href="{{repo.html_url}}">{{repo.name}}</a></td>
      <td>{{repo.language}}</td>
      <td>{{repo.size}} KB</td>
    </tr>
  </tbody>
</table>
</div>