<div class="form-group textCenter col-md-5">
  <input class="form-control repoInput" type="text" placeholder="Search..." [(ngModel)]="searchInput">
</div>
<div class="overY col-md-12">
<table *ngIf="(repos | searchfilter: searchInput).length !== 0" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Language</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let repo of repos | searchfilter : searchInput  | orderBy: 'name':'asc' ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td><a href="{{repo.html_url}}">{{repo.name}}</a></td>
      <td>{{repo.language}}</td>
      <td>{{repo.size}} KB</td>
    </tr>
  </tbody>
</table>
<div class="noResults" ng-cloak *ngIf=" searchInput!=='' && (repos | searchfilter: searchInput).length === 0">
  <h3 class="textCenter">No results found for '{{searchInput}}'</h3>
</div>

</div>