<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

<div class="userForm">
  <h1>
    {{ title }}
  </h1>
  <a  href="{{urlUser}}">
    <img width="50" *ngIf="avatar!=null" src="{{avatar}}" alt="{{user}} Avatar">
  </a>
  <p *ngIf="avatar==null">No user found</p>
  <form class="form-inline">
  <div class="form-group">
    <input name="myinput" placeholder="Select GitHub User" class="form-control margin" [(ngModel)]="user"/>
    <button (click)="recursiveCallback('1'); getUserImg()" class="btn btn-info margin">Search</button>
  </div>
</form>
</div>

<div class="col-sm-12 col-md-6">
    <app-table *ngIf="repos.length>0" [repos]=repos></app-table>
    <h3 class="center" *ngIf="repos.length==0">This user has no repositories</h3>
    </div>
    <div class="col-sm-12 col-md-6">
        <app-pie *ngIf="chargeDone && repos.length>0" [repos]=repos></app-pie>
    </div>
</div>
